.anhPic {
  width: 75%;
  border-radius: 4px;
  padding-left: 90px;
}

.intro {
  margin: 50px;
  font-size: 20px;
}

.left, .right {
  width: 49%;
  display:inline-block;
}

.bioText {
  line-height: 20px;
  margin: 50px;
}

.interests {
  width: 100%;
}

.interests img {
  width: 100%;
  border-radius: 50%;
}

.interests ul {
  list-style: none;
}

.interests ul li {
  padding-top: 18px;
  padding-bottom: 11px;
  width: 23%;
  height:46px;
  margin-right: 8px;
}

.interest-item {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}




