body{
  font-family: Helvetica;
  font-size: 18px;
  color: #5A5A5A;
  background: url("../images/city.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper{
  margin-top: 2.5%;
}

a{
  text-decoration: none;
  color: #5A5A5A;
}

a:hover{
  color: grey;
}


nav ul{
  list-style: none;
  padding:40px;

}

nav ul li{
  text-align: center;
}

.mainContainer{
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  width: 368px;
  height: 288px;
  border-radius: 50%;
  padding-top: 78px;
}

.myName{
  padding-top: 20px;
  font-size: 40px;
  /*font-family: use a google font?*/
}


footer ul{
  list-style: none;
  padding: 40px;
  color: #ffffff;
}

footer ul li{
  text-align: center;
}

footer ul li a{
  color: #DFDFDF;
}

