body {
  color: #fff;
  width: 100%;
  font-family: "Raleway", serif;
  background: url("../images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  font-size: 35px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
}

.wrapper {
  width: 100%;
}

a {
  text-decoration: none;
}

img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.top {
  background-color: #FCFFF5;
  padding-top: 20px;
  padding-bottom: 20px;

}

.top a{
  color: grey;
}

.bottom {
  background-color: #DDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-item {
  display: inline-block;
  width: 24%;
  text-align: center;
}

.footer-item a:hover {
  color: #00C78C;
} 

.social {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.social a i {
  width: 5%;
  background-color: #00C78C;
  color: #FFF;
  padding-bottom: 7px;
  padding-top: 7px;
  border-radius: 10px;
}

.social a i:hover {
  background-color: #FCFFF5;
  color: grey;
}