body {
  color: #75726F;
  font-family: Optima, sans-serif;
  background: #E2E2E2;
}

img {
  width: 250px;
  border: 6px double #5F5C5A;
  border-radius: 50%;
  display: block;
  position: relative;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
}

h1 {
  color: #5F5C5A;
  text-align: center;
}

.summary {
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

.contact {
  float: left;
  width: 150px;
}

.social {
  float: right;
  width: 130px;
}

h2 {
  color: #5F5C5A;
  background: #D0DCC2;
  padding-left: 10px;
}

b {
  color: #5F5C5A;
}

.column-left {
  border-radius: 5px;
  background: #FFFFFF;
  padding: 20px;
  margin: 20px 0px 20px 20px;
  width: 320px;
  display: inline-block;
  vertical-align: top;
}

.column-right {
  border-radius: 5px;
  background: #FFFFFF;
  padding: 20px;
  margin: 20px 0px 20px 20px;
  width: 800px;
  display: inline-block;
}

.school {
  display: inline-block;
  width: 580px;
  margin-bottom: 0;
}

.year {
  display: inline-block;
  width: 200px;
  margin-bottom: 0;
}

.job {
  display: inline-block;
  width: 580px;
  margin-bottom: 0;
}

.location {
  display: inline-block;
  width: 200px;
  margin-bottom: 0;
}

ul {
  margin-left: 20px;
  margin-right: 240px;
  text-align: justify;
}

.footer {
  color: #5F5C5A;
  background: #D0DCC2;
}